<h3>Update Book</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="bookName">Name</label>
        <input type="text" class="form-control" id="bookName" required [(ngModel)]="book.name" name="bookName">
      </div>

      <div class="form-group">
        <label for="authorName">Author Name</label>
        <input type="text" class="form-control" id="authorName" required [(ngModel)]="book.author" name="authorName">
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="book.description" name="description">
      </div>
  
      <div class="form-group">
        <label for="stockCount">Count Of Stock</label>
        <input type="text" class="form-control" id="stockCount" required [(ngModel)]="book.stockCount" name="stockCount">
      </div>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Submit</button>
  </form>
</div>
